<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="6" android:versionName="1.0.2" package="yokta.android.auth"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <application android:label="@string/app_name_short" android:icon="@drawable/launch_icon" android:allowBackup="true" android:installLocation="auto">
        <activity android:name="yokta.android.auth.activity.CodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="yokta.android.auth.activity.InitialSetupActivity" />
        <activity android:name="yokta.android.auth.activity.InformationActivity" />
        <activity android:name="yokta.android.auth.activity.InformationHelpActivity" />
        <activity android:name="yokta.android.auth.activity.InformationLegalActivity" />
        <activity android:name="yokta.android.auth.activity.DiagnosticsActivity" />
        <activity android:name="yokta.android.auth.activity.DiagnosticsAccountUrisActivity" />
        <activity android:name="yokta.android.auth.activity.ManageAccountActivity" />
        <activity android:name="yokta.android.auth.activity.EnterAccountActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="otpauth" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="totp" />
            </intent-filter>
        </activity>
    </application>
</manifest>